body {
  width: 100vw;
}
.container {
  display: flex;
  justify-content: center;
}

.list-image {
  width: 5em;
}

.beer-info {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.individual-beer {
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 2em;
  margin-top: 3em;
  border-bottom: 1px solid grey;
}
