.container {
  max-width: 45em;
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.detail-image {
  width: 5em;
}

.detail-name {
  padding-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.detail-grey {
  color: rgba(128, 128, 128);
  opacity: 75%;
}

.detail-tagline {
  padding-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-article {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.2em;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.loading {
  margin-top: 40vh;
  text-align: center;
}
